<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">"<%= selectedFeedback.feedback %>"</h5>
        </div>
        <ul class="list-group list-group-flush">
            <% if(selectedFeedback.actionItem) {
                selectedFeedback.actionItem.forEach(actionItem => { %>
            <li class="list-group-item"><%= actionItem %></li>
            <% })} %>
        </ul>
        <div class="card-body">
            
            <form action='/feedback/<%= selectedFeedback._id %>?_method=PUT' method='POST' id='update-form'>
                <div class='container py-5'>
                    <div class='form-group action'>
                        <label for='action-input'>Action Item</label>
                        <textarea type='text' class='form-control' id='action-input' name='actionItem'
                            placeholder='What follow up steps do we need to take?'></textarea>
                            <input type='hidden' value=<%= index %> name='index'>
                        </div>
                            <button type='submit' class="btn-floating btn-large waves-effect waves-light green">
                                <i class="material-icons">add</i>
                            </button>
            </form>
       
        </div>
          <%  if (currentUser && currentUser.admin === "true")   { %> 
        <form action="/feedback/<%= selectedFeedback._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn-large waves-effect waves-light red" class='delete-button'>COMPLETED</button>
        </form>
        <% } %>
    </div>

    <a href='/feedback' class='btn-large waves-effect waves-light'>View All</a>
</body>

</html>