<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= selectedFeedback.feedback %></h5>
        </div>
        <ul class="list-group list-group-flush">
            <% if(selectedFeedback.actionItem) {
                selectedFeedback.actionItem.forEach(actionItem => { %>
            <li class="list-group-item"><%= actionItem %></li>
            <% })} %>
        </ul>
        <div class="card-body">
            <form action='/feedback/<%= selectedFeedback._id %>?_method=PUT' method='POST' id='update-form'>
                <div class='container py-5'>
                    <div class='form-group action'>
                        <label for='name-input'>Action Item</label>
                        <textarea type='text' class='form-control' id='action-input' name='actionItem'
                            placeholder='What follow up steps do we need to take?'></textarea>
                    </div>
                    <button type='submit' class='btn btn-primary btn-block'>Update</button>
            </form>
        </div>
        <% if(currentUser.admin) { %>
        <form action="/feedback/<%= selectedFeedback._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-warning" class='delete-button'>COMPLETED</button>
        </form>
        <% } %>
    </div>

    <a href='/feedback' class='btn btn-secondary'>View All</a>
</body>

</html>