<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Department</th>
                <% if (currentUser.admin) { %>
                <th scope='col'>Administrator</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((users, index) => { %>
            <tr>
                <th scope='row'><%= index + 1 %></th>
                <td><%= users.name %></td>
                <td><%= users.department %></td>
                <% if (currentUser.admin) { %>
                <td><%= users.admin %></td>

                <td>
                    <form action="/users/<%= users._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn waves-effect red lighten-2">REMOVE</button>
                    </form>
                </td>

                <td>
                    <form action="/users/<%= users._id %>?_method=UPDATE" method="PUT">
                        <button type="submit" class="btn waves-effect green lighten-2">MAKE ADMIN</button>
                    </form>
                </td>

                <% } %>
            </tr>
            <%}) %>
        </tbody>
    </table>
    <a href='/' class='btn btn-primary orange lighten-2'>Return</a>
</body>

</html>